body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: rgb(164, 164, 231);
    
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

input {
    margin: 5px 0;
    padding: 5px;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button.editar {
    background-color: #ffc107; 
}

button.eliminar {
    background-color: #dc3545; 
    color: #fff; 
}

button:hover {
    opacity: 0.8;
}


ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button.eliminar {
    background-color: #dc3545;
    color: #fff;
}
